[credential "https://github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[user]
	email = bunny@thekillerbunny.com
  name = TheBunnyMan123
[pull]
  rebase = true
[init]
  defaultbranch = master
[core]
  pager = w3m
[safe]
	directory = /etc/nixos
[commit]
	gpgsign = true
