[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = bunny@thekillerbunny.com
  name = TheBunnyMan123
[pull]
  rebase = false
[init]
  defaultbranch = master
[core]
  pager = w3m
